<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.a709151034.controledelanches">

    <uses-permission android:name="android.permission.ACTION_DIAL" />
    <uses-permission android:name="android.permission.ACTION_VIEW" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activitys.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activitys.CadastroUsuarioActivity"
            android:label="Pedido"
            android:parentActivityName=".Activitys.LoginActivity" />
        <activity
            android:name=".Activitys.MainActivity"
            android:label="Pedido"
            android:parentActivityName=".Activitys.LoginActivity" />
        <activity
            android:name=".Activitys.CadastroPedidoActivity"
            android:label="Pedido"
            android:parentActivityName=".Activitys.MainActivity" />
        <activity
            android:name=".Activitys.ConsultaPedidoActivity"
            android:label="Pedido"
            android:parentActivityName=".Activitys.MainActivity" />
        <activity android:name=".Activitys.ResultadoPedidoActivity" />
        <activity
            android:name=".Activitys.FornecedorActivity"
            android:parentActivityName=".Activitys.MainActivity" />
        <activity
            android:name=".Activitys.CadastroFornecedorActivity"
            android:parentActivityName=".Activitys.FornecedorActivity" />
        <activity
            android:name=".Activitys.MenuActivity"
            android:parentActivityName=".Activitys.MainActivity" />
        <activity
            android:name=".Activitys.EstoqueActivity"
            android:parentActivityName=".Activitys.MenuActivity" />
        <activity
            android:name=".Activitys.CadastroEstoqueActivity"
            android:parentActivityName=".Activitys.EstoqueActivity" />
        <activity
            android:name=".Activitys.FlagActivity"
            android:parentActivityName=".Activitys.EstoqueActivity" />
        <activity
            android:name=".Activitys.VendasActivity"
            android:parentActivityName=".Activitys.MenuActivity" />
        <activity
            android:name=".Activitys.AtualizarFornecedorActivity"
            android:parentActivityName=".Activitys.FornecedorActivity" />
        <activity android:name=".Activitys.ProdutoActivity"
            android:parentActivityName=".Activitys.MenuActivity"/>
        <activity android:name=".Activitys.CadastroProdutoActivity"
            android:parentActivityName=".Activitys.ProdutoActivity"/>
        <activity android:name=".Activitys.ResultadoProdutoActivity"
            android:parentActivityName=".Activitys.ProdutoActivity"></activity>
    </application>

</manifest>